
nav{
  height: 80px;
  width: 100%;
  padding: 40px;
  background: #026873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}


.nav_title{
  font-size:30px;
  list-style-type: none;
  color: white;
  font-weight: bold;
  text-decoration: none;
  
}

.sair{
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  padding-right: 10;
}

.add_task{
  margin-top: 70px;
  padding:30px;
  text-align:center;
  list-style-type: none;

}
.add_task>input{
  width: 300px;
  height:40px;
  border-radius:10px;
  padding: 10px;
  
}

.add_task>button{
  background:#2D83A6;
  color:white;
  width: 100px;
}


.task_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
  line-height: 50px;
  font-size: 20px;
  align-items: center;
  flex-direction: column;
  
}


.checkbox-tarefa{
  height: 20px;
  width: 20px;
  margin-right: 20px;
  
}


.conteiner{
  padding: 20px;
  display:block;
  justify-content:center;
  text-align: center;
  gap:20px;
}


button{
  width:auto;
  height:40px;
  padding:5px;
  border-radius:10px;
  font-size: 15px;
}

.input_add{
  font-size: 16px;
}

.bt_excluir{
  width: auto;;
  height:40px;
  padding: 10px;
  border-radius:10px;
  font-size: 15px;
  background:#a62d2d;
  color:white;
  
}

@media screen and (min-width: 1200px)  {
  input{
      width: 360px;
      height: 40px;
  }
  
}

