
/*NAV*/

header {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 40px;
    background: #026873;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin-left: 25px;
    transition: .2s;

}

#lgn:hover{
    color: #000000;
    transition: 0.2s;
}

.navbar a:hover{
    color: #000000;
    transition: 0.2s;
}

/*CONTAINER DE RECUPERAR*/

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
}

p{
    margin-bottom: 30px;
    font-size: 16px;
}

h1 {
    margin-top: 100px;
    padding-bottom: 20px;
    padding-top: 80px;
}

/*FORMULÁRIO*/

form{
    width: 60%;
    display: flex;
    flex-direction: column;
}

input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

label{
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}

/*BUTTON*/

.button1{
    cursor: pointer;
    background-color: #2D83A6;
    color: white;
    margin: 20px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.2s background;
}

#campos {
    text-align: center;
    position: relative;
    width: 50%;
    margin: 0 auto;

}

button:hover{
    background-color: #057986;
    transition: 0.2s background;
}

.caixa{
    align-items: center;
}

@media screen and (min-width: 1200px)  {
    input{
        width: 360px;
        height: 40px;
    }
    form {
        width: auto;
    }
}

@media screen and (max-width: 800px)  {
    input{
        width: 250px;
        height: 40px;
    }
    form {
        width: auto;
    }
}
@media screen and (max-width: 460px)  {
    
    .logo{
        font-size: 20px;
    }
    .navbar a{
        font-size: 14px;
    }
    
}