.header {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 40px;
    background: #026873;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;


}

.navbar a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin-left: 25px;
    transition: .2s;

}

.navbar a:hover,
.navbar a.active {
    color: #000000;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 70px 10% 0;

}

.home-content {
    align-items: center;
    max-width: 400px;
    margin: 20px 0 40px;
    gap: 20px;

}

.home-content h1 {

    font-size: 30px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    padding-bottom: 20px;

}


.home-content p {
    font-size: 20px;
    font-weight: 540;
    color: #000000;
    line-height: 1.5;
    text-align: left;
    padding-bottom: 20px;

}

.button1{
    cursor: pointer;
    background-color: #2D83A6;
    color: white;
    width: 50%;
    margin-top: 10px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.2s background;
}

.center {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
}

label{
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
}

img{
    width: 100%;
    
}

@media screen and (min-width: 1200px)  {
    input{
        width: 400px;
        height: 40px;
    }
    form {
        width: auto;
    }
    img{
        width: 600px;
    }
}

@media screen and (max-width: 1000px)  {
    input{
        width: auto;
        height: 40px;
    }
    form {
        width: auto;
    }
    img{
        width: 400px;
    }
}

@media screen and (max-width: 800px)  {
    input{
        width: auto;
        height: 40px;
    }
    form {
        width: auto;
    }
    img{
        width: 0px;
    }
}
@media screen and (max-width: 460px)  {
    
    .logo{
        font-size: 20px;
    }
    .navbar a{
        font-size: 14px;
    }
    
}
